@model List<Agent>
@{
    int count = 0;
}
<div class="tab-content tab-content-basic">
    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">


        <div class="row">
            <div class="col-lg-8 d-flex flex-column">
                <div class="row flex-grow">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card card-rounded">
                            <div class="card-body">
                                <div class="table-responsive  mt-1">
                                    <table class="table select-table">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Full Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (Agent agent in Model)
                                            {
                                                count++;
                                                <tr>
                                                <td>
                                                   @count
                                                </td>
                                                <td>
                                                    <div class="d-flex ">
                                                            <img src="~/assets/img/@agent.Image" alt="@agent.Name">
                                                        <div>
                                                            <h6>@agent.Name @agent.Surname </h6>
                                                            <p>Seller</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                        <h6>
                                                            @if (agent != null && agent.Car != null)
                                                            {
                                                                <p>@agent.Car.Count</p>
                                                            }
                                                            else{ }
                                                        </h6>                                                  
                                                </td>
                                                <td>
                                                    
                                                </td>
                                                
                                            </tr>
                                            }
                                          

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>